<form action="/members/<%=@member.id%>/update" method="post">

<label for="name">Name:</label>
<input type="text" name="name" id="first-name" value="<%=@member.name.capitalize%>">

<label for="age">Age:</label>
<input type="number" min="11" name="age" id="age" value="<%=@member.age%>">

<input type="submit" value="Update Member"> -->

</form>
