<h1>Members</h1>
<h2>
<div class="members">
  <% @members.each do |member| %>

    <p>Name: <%= member.name %> </p>
    <a href="/members/<%=member.id%>">Show Details</a>
    <br>

  <% end %>
</div>
<p class="btn--wrapper">
  <a class="btn btn--new" href="/members/new">New Member</a>
</p>
</h2>
