<h1>Book a lesson</h1>

<link rel="stylesheet" href="style.css">  
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<link rel="icon" href="/images/dumbbell.png" />

<form action="/members" method="post">

<label for="name">Name:</label>
<input type="text" name="name" id="name">

<label for="age">Age:</label>
<input type="number" min="11" name="age" id="age">

<input type="submit" value="Sign Up">

</form>



