<h1>Available Lessons</h1>
<h2>
  <div class="lessons">
<table>
  <% for lesson in @lessons %>
  <tr>
    <td><br><a href="/lessons/<%= lesson.id %>"><%= lesson.name %></a></td>
  </tr>
  <% end %>
</table>
</div>
</h2>
