@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

h1 {  
    font-size: 50px;  
}  

body {
  background-image: url('images/background.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-attachment: fixed;
  background-size: 900px;
}

body {
  height: 100vh;
  font-family: 'Rubik', sans-serif;
  color: black;
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ol {
max-width: 500px;
}

li {
  float: left;
}

li a {
  display: block;
  
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}

td, th {
  text-align: left;
}

td {
  padding: 10px 20px 0px 0px;
}

th {
  padding: 0px 20px 10px 0px;
  border-bottom: 1px solid rgb(255, 255, 255);
}

table {
  border-collapse: collapse;
}

.btn {
  border:0px none;
  border-radius: 20%;
  padding: 20px 12px;
  color: rgb(255, 255, 255);
  cursor:pointer;
  font-family: 'Rubik', cursive;
}

.btn--danger {
  background-color: darkred;
}

.btn--danger:hover {
  background-color: #730000;
}

.btn--booking:hover {
  background-color: rgb(0, 190, 10);
}

.btn--booking {
  background-color: #333333;
}

.btn--wrapper {
  margin: 0px 0px 30px 0px;
}

.btn--new:hover {
  background-color: rgb(0, 190, 10);
}

.btn--new {
  background-color: #333333;
}
