<h1>Book a lesson</h1>

<link rel="stylesheet" href="style.css">  
<link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
<link rel="icon" href="/images/dumbbell.png" />

<form action="/bookings" method="post">
  <label>
  Select a member:
    <select name="member_id">
      <% for member in @members %>
      <option value="<%= member.id %>"><%= member.name %></option>
      <% end %>
    </select>
  </label>
  
  <label>
    Select a lesson:
    <select name="lesson_id">
      <% for lesson in @lessons %>
      <option value="<%= lesson.id %>"><%= lesson.name %></option>
      <% end %>
    </select>
  </label>
  <input class="btn btn--action" type='submit' value="Book!">
</form>
</style>

</form>



